body {
    font-family: Arial, Helvetica, sans-serif;
    padding    : 0;
    margin     : 0;
}

nav {
    background-color: black;
    color           : white;
    width           : 100%;
}

nav .mobile {
    display: none;
}

nav .logo {
    min-width: 250px;
}

nav a {
    color          : white;
    text-decoration: none;
    display        : block;
    padding        : 20px
}

nav a:hover {
    color           : black;
    background-color: #00c3ff;
}

nav .desktop {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    padding        : 0 20px;
}

nav .desktop .primary,
nav .desktop .secondary {
    display: flex;
}

nav .desktop .secondary.mini {
    display: none;
}
nav .mobile .more button {
    border: none;
    background-color:black;
    color: white;
    padding:15px;
    cursor: pointer;
}
.collapsed{
display: none;
}
@media screen and (max-width: 800px) {
    nav .logo{
        min-width: 100px;
    }
    nav .secondary.full{
        display: none
    }
    nav .secondary.mini{
        display: block !important;
    }
    nav .secondary.mini .submenu{
        background-color: brown;
        position : absolute;
        display: none;
        width:200px;
        right: 0;
    }
    nav .secondary.mini:hover .submenu{
        display: block;
    }

}
@media screen and (max-width: 500px) {
    nav .desktop {
        display: none;
    }
    nav .mobile {
        display: block;
    }
    nav .mobile .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
    }
}